on: [push]
name: build
jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/run-ormolu@v17 # NB!
# If you update the version of run-ormolu, please also update the
# version in docker/Dockerfile, so that the docker image will use the
# same version of ormolu.
#
# See also
#   https://github.com/haskell-actions/run-ormolu/releases
#   https://github.com/tweag/ormolu/releases/

  test:
    name: stack test
    runs-on: ubuntu-latest
    needs: ormolu
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          enable-stack: true
      - uses: actions/cache@v3
        name: Caching
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
            .stack-work
          key: ${{ runner.os }}
